.background_normal{
    -fx-background-image: url("../graphics/backgrounds/background.png");
    -fx-background-repeat: repeat;
}

.background_bigger{
    -fx-background-image: url("../graphics/backgrounds/background_bigger.png");
    -fx-background-repeat: repeat;
}

.background_biggest{
    -fx-background-image: url("../graphics/backgrounds/background_biggest.png");
    -fx-background-repeat: repeat;
}

.background_biggest2{
    -fx-background-image: url("../graphics/backgrounds/background_biggest2.png");
    -fx-background-repeat: repeat;
}

.background_components{
    -fx-background-color: #eeeeee;
}

.table-column{
    -fx-alignment: CENTER;
}

.table-cell{
    -fx-font-size: 25;
}