.background{
    -fx-background-image: url("../graphics/background.png");
    -fx-background-repeat: repeat;
}

.background_components{
    -fx-background-color: #eeeeee;
}

.table-column{
    -fx-alignment: CENTER;
}

.table-cell{
    -fx-font-size: 25;
}